.chatBox{
    background-image: url("../assets/images/telegram3.jpg");
    background-repeat: repeat;
    height: calc(100vh - 70px);
    position: relative;

    .profile_img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 3px solid #b3b3b3;
        overflow: hidden;

        img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
}