.header{
    padding: 10px 20px;
    background-color: #2e034b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .profile_info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
    }

    .profile_img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;

        img{
            width: 100%;
            height: 100%;
        }
    }

    .profile_details {
        margin-left: 15px;

        .time {
            font-size: 12px;
            color: #e8e8e8;
        }
    }

    .settings {
        font-size: 20px;
        font-weight: 600;
    }
}

@media only screen and (max-width: 500px) {

}