.input_box{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    
    .textarea {
        border: none;
        outline: none;
        border-radius: 60px;
        width: calc(100% - 40px);
        margin-right: 10px;
        padding: 13px 20px;
        font-size: 14px;
        box-shadow: 0 3px 7px rgba(0,0,0,0.4)
    }

    .send_btn {
        display: inline-block;
        outline: none;
        width: 45px;
        height: 45px;
        font-size: 24px;
        background-color: #2e034b;
        color: #fff;
        text-align: center;
        border-radius: 50%;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}