 .message {
    color: #000;
    clear: both;
    line-height: 18px;
    font-size: 15px;
    padding: 8px;
    position: relative;
    margin: 8px 10px;
    max-width: 85%;
    word-wrap: break-word;

    &::after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
    }  

    
    .metadata {
        display: inline-block;
        float: right;
        padding: 0 0 0 7px;
        position: relative;
        bottom: -4px;

        .time {
            color: rgba(0, 0, 0, .45);
            font-size: 11px;
            display: inline-block;
        }
    }

    .tick {
        display: inline-block;
        margin-left: 2px;
        position: relative;
        top: 4px;
        height: 16px;
        width: 16px;

        svg {
            position: absolute;
            transition: .5s ease-in-out;

            &:first-child {
                backface-visibility: hidden;
                transform: perspective(800px) rotateY(180deg);
            }

            &:last-child {
                backface-visibility: hidden;
                transform: perspective(800px) rotateY(0deg);
            }
        }

    }

    .tick_animation svg {
        &:first-child {
            transform: perspective(800px) rotateY(0);
        }

        &:last-child {
            transform: perspective(800px) rotateY(-179.9deg);
        }
    }
      
    &.received {
        background: #fff;
        border-radius: 0px 5px 5px 5px;
        float: left;

        .metadata {
            padding: 0 0 0 16px;
        }

        &:after {
            border-width: 0px 10px 10px 0;
            border-color: transparent #fff transparent transparent;
            top: 0;
            left: -10px;
        }
    }

    &.sent {
        background: #e7d1f5;
        border-radius: 5px 0px 5px 5px;
        float: right;

        &:after {
            border-width: 0px 0 10px 10px;
            border-color: transparent transparent transparent #e7d1f5;
            top: 0;
            right: -10px;
        }
    }
}

  


