.user {
    position: absolute;
    top: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #2e034b;
    color: #fff;
    z-index: 9999999;
    transition: all 0.2s linear;

    &.open {
        top: 0;
    }

    .back{
        position: absolute;
        top: 15px;
        left: 15px;
        font-size: 24px;
        font-weight: bold;
        z-index: 999999999;
    }

    .profile_img{
        width: 100%;
        height: auto;
        max-width: 400px;
        max-height: 350px;
        position: relative;

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), transparent, rgba(0,0,0,0.2));
            z-index: 99;
        }

        img{
            width: 100%;
            height: 100%;
            max-width: 400px;
            max-height: 350px;
        }

        .profile_img_text{
            position: absolute;
            bottom: 20px;
            left: 20px;
            z-index: 999;
        }
    }

    .profile_details {
        padding: 10px 20px;

        .info_title {
            font-size: 18px;
            color: #ff00c8;
            font-weight: bold;
            margin-bottom: 15px;
        }

        .info_box {
            margin: 10px 0;
        }

        .info {
            font-size: 14px;
            font-weight: bold;
            color: #e8e8e8;
        }

        .label {
            font-size: 12px;
            font-weight: 600;
            color: #a1a1a1;
        }
    }
}